<?xml version="1.0"?>
<config>
    <modules>
        <Smartassistant_Smartassistant>
            <version>1.0.0</version>
        </Smartassistant_Smartassistant>
    </modules>
    <global>
        <blocks>
            <smartassistant>
                <class>Smartassistant_Smartassistant_Block</class>
            </smartassistant>
        </blocks>
        <helpers>
            <smartassistant>
                <class>Smartassistant_Smartassistant_Helper</class>
            </smartassistant>
        </helpers>
        <models>
            <smartassistant>
                <class>Smartassistant_Smartassistant_Model</class>
                <resourceModel>smartassistant_mysql4</resourceModel>
            </smartassistant>
            <smartassistant_mysql4>
                <class>Smartassistant_Smartassistant_Model_Mysql4</class>
                <deprecatedNode>smartassistant_mysql4</deprecatedNode>
                <entities>
                    <export>
                        <table>smartassistant_export</table>
                    </export>
                    <exportfield>
                        <table>smartassistant_exportfield</table>
                    </exportfield>
                    <scheduledtask>
                        <table>smartassistant_scheduled_tasks</table>
                    </scheduledtask>
                    <rule>
                        <table>smartassistant_rule</table>
                    </rule>
                    <task>
                        <table>smartassistant_task</table>
                    </task>
                    <task_status>
                        <table>smartassistant_task_status</table>
                    </task_status>
                    <task_config>
                        <table>smartassistant_task_config</table>
                    </task_config>
                    <task_log>
                        <table>smartassistant_task_log</table>
                    </task_log>
                </entities>
            </smartassistant_mysql4>
        </models>
        <resources>
            <smartassistant_setup>
                <setup>
                    <module>Smartassistant_Smartassistant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartassistant_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<smartassistant before="Mage_Adminhtml">Smartassistant_Smartassistant_Adminhtml</smartassistant>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <smartassistant>
                    <file>smartassistant.xml</file>
                </smartassistant>
            </updates>
        </layout>
        <routers>
            <smartassistant>
                <use>standard</use>
                <args>
                    <module>Smartassistant_Smartassistant</module>
                    <frontName>smartassistant</frontName>
                </args>
            </smartassistant>
        </routers>
    </frontend>
    <default>
        <smartassistant>
            <advisor>
                <enable>1</enable>
                <contextPath>https://st.smartassistant.com/advisor-fe-web</contextPath>
                <platformUrl>https://st.smartassistant.com/configurator/auth?oem=</platformUrl>
            </advisor>
            <ftp>
                <port>21</port>
                <pasivemode>1</pasivemode>
            </ftp>
            <general>
                <cron>1</cron>
                <useShell>1</useShell>
            </general>
        </smartassistant>
    </default>
    <crontab>
        <jobs>
            <smartassistant_scheduled_actions>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>smartassistant/generator::scheduleRun</model>
                </run>
            </smartassistant_scheduled_actions>
        </jobs>
    </crontab>
</config>
